@model IEnumerable<Shared.LogDTO>

<style>
    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        background: linear-gradient(90deg, #FFD286, #FF6474, #7DA2FF);
        height: 100vh;
    }

    .btn-primary {
        background-color: #FF6474;
        color: #fff;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        text-decoration: none;
        display: inline-block;
        margin: 0.5rem;
    }

        .btn-primary:hover {
            background-color: #e85563;
        }


    .table {
        width: 100%;
        margin-top: 30px;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .table th, .table td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
</style>
@{
    ViewData["Title"] = "Index";
}

<h1>Logs</h1>



<form asp-action="Index" method="post">
    <label>Number of searched logs</label>
    <input type="number" required name="n" min="1" class="form-control" />
    <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LogLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LogMessage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogMessage)
                    </td>
                </tr>
        }
        </tbody>
    </table>
}
else if (ViewBag.HasData == false)
{
    <div class="alert alert-info" role="alert">
        No existing logs or change number of logs
    </div>
}
