@model IEnumerable<Shared.BookDTO>

<style>
    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        background: linear-gradient(90deg, #FFD286, #FF6474, #7DA2FF);
        height: 100vh;
    }

    .btn-primary {
        background-color: #FF6474;
        color: #fff;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        text-decoration: none;
        display: inline-block;
        margin: 0.5rem 0; 
    }

        .btn-primary:hover {
            background-color: #e85563;
        }

    .table {
        width: 100%;
        margin-top: 30px;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .table th, .table td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
</style>


@{
    ViewData["Title"] = "Books in library";
}

<h1>Books in library</h1>


<p>

    @if (Context.Session.GetString("Username") == "admin" && Context.Session.GetString("Username")!= null)
    {
        <a asp-action="Create" class="btn-primary">Create new book</a>
        
        @Html.ActionLink("Create Author", "Create", "Author", null, new { @class = "btn-primary" });
    }

</p>

<div class="input-group" mb-3>
    <form method="get" asp-action="index">
        <input type="text" class="form-control" name="searchTerm" value="@ViewBag.SearchTerm" />
        <button class="btn-primary" type="submit">Search</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>        
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                    @if (Context.Session.GetString("Username") == "admin" )
                    {
                        @Html.ActionLink("Update", "Update", new { id = item.BookId }, new { @class = "btn-primary" })

                        @:&nbsp;|&nbsp;

                        @Html.ActionLink("Delete", "Delete", new { id = item.BookId }, new { @class = "btn-primary" })

                        @:&nbsp;|&nbsp;
                    }

                    @Html.ActionLink("Details", "Details", new { id = item.BookId }, new { @class = "btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">

        @for (int i = 1; i <= (int)Math.Ceiling((double)ViewBag.Counter / 2); i++)
        {
            @if(ViewBag.SearchTerm != null)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Book", new{page = i, searchTerm= ViewBag.SearchTerm })">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Book", new{page = i})">@i</a></li>
            }
        }
    </ul>
</nav>

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
